body {
    margin: 0;
    font-family: 'Pacifico', cursive;
    height: 100%;
    background-color: #081826; 
    color: white;
}

header {
    position: sticky; 
    top: 0;
    z-index: 1000;
    background-color: black; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    gap: 50px;
    color: gold;
}

.logo {
    text-align: center;
}

nav {
    display: flex;
    gap: 20px; 
    color: gold;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;              
}

nav a {
    text-decoration: none;
    color: gold; 
    font-weight: bold;
}

nav a:hover {
    color: white;
}

.bgcontainer {
    position: relative; 
    display: flex;
    justify-content: center;   
    align-items: center;      
    height: 50vh;               
}

.img {
    margin-top: 120px;
    max-width: 800px;
    max-height: 500px;
    width: 100%;
    height: auto;
    display: block;
    box-shadow: inset -10px 0 15px rgba(0, 0, 0, 0.3);
}

.txt1, .txt2 {
    position: absolute; 
    top: 50%; 
    left: 38%; 
    transform: translate(-50%, -50%); 
    color: white; 
    font-size: 24px; 
    text-align: center; 
    font-weight: bold;
}

.txt2 {
    top: 60%; 
}

.btnRecipes {
    position: absolute; 
    top: 75%; 
    left: 36%; 
    transform: translate(-50%, -50%); 
    background-color: gold; 
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
    display: flex;
}

.btnRecipes:hover {
    background-color: white;
    color: black;
}

html, body {
    scroll-behavior: smooth;
}

.custom-hr {
    border: 15px solid grey; 
    margin: 120px auto; 
    width: 100%; 
    max-width: 1500px; 
    opacity: 0.7; 
}

.txtRecipe {
    text-align: center; 
    margin-top: 20px; 
    font-size: 24px; 
    color: gold; 
    margin-bottom: 80px;
}

.card-container {
    display: flex; 
    justify-content: space-between; 
    align-items: stretch; 
    gap: 20px; 
    margin: 20px auto; 
    max-width: 1400px; 
}

.card-link {
    text-decoration: none; 
    color: inherit; 
    flex: 1; 
}

.card {
    background-color: white; 
    color: black; 
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    padding: 20px; 
    text-align: center; 
    height: 400px; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); 
}

.card-img {
    width: 100%; 
    height: 200px; 
    object-fit: cover; 
    border-radius: 10px;
    margin-bottom: 10px; 
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text {
    font-size: 14px;
    color: #555; 
}

.Foodtitle {
    text-align: center; 
    margin-top: 20px;
    margin-bottom: 80px;
    color: gold;
}

.Foodtitle h1 {
    font-size: 24px;
    color: gold; 
    margin-bottom: 20px;
}

.Foodtitle img {
    max-width: 800px; 
    max-height: 500px; 
    width: 100%; 
    height: auto; 
    display: block; 
    margin: 20px auto;
    border-radius: 10px; 
    box-shadow: inset -10px 0 15px rgba(0, 0, 0, 0.3); 
}

.Foodtitle h3 {
    font-size: 20px;
    color: white;
    margin-top: 10px; 
}

.Foodtitle p {
    font-size: 16px; 
    color: white; 
    margin-top: 10px; 
    line-height: 1.5; 
}

@media (max-width: 768px) {
    .btnRecipes .txt1 .txt2{
        font-size: 14px;      
        padding:8px 16px;         
    }
}
